/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/*PAGE*/

.page {
  font-family: var(--main_font);
  font-size: 14px;
  background-image: var(--background_gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text_font_weight);
}

.container {
  justify-self: center;
  border: 2px solid #000;
  background-color: #fff;
  inline-size: clamp(375px, 50%, 700px);
}

/*HEADER*/

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: clamp(98px, 100.7042px + -0.1878vw, 100px);
  background-color: #fff;
}

.header_content {
  margin: clamp(122px, 119.1831px + 0.7512vw, 130px)
    clamp(16px, -21.5px - 10vw, 122.5px);
  font-family: var(--accent_font);
  text-align: center;
}

.header_logo {
  font-size: clamp(49px, 43.3662px + 1.5023vw, 65px);
  line-height: normal;
  letter-spacing: 0;
}

.header_title {
  margin-top: 20px;
  font-weight: 400;
  font-size: clamp(14px, calc(0.85vw + 10.83px), 23px);
  line-height: normal;
  letter-spacing: 0;
  text-transform: uppercase;
}

/*MAIN*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card_title {
  margin: 4px 10px;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0;
  font-variation-settings: "wght" 715;
}

.image_container {
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card_image {
  display: block;
  width: 100%;
  min-height: var(--image_height);
  object-fit: cover;
}

.image_label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent_font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    0 0 1px var(--label_text_stroke_color),
    0 4px 4px rgba(0, 0, 0, 0.25);
  mix-blend-mode: hard-light;
  font-variation-settings: "wght" 400;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .image_label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label_text_stroke_color);
  }
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
}

.card_text {
  margin: 0 25px;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0;
  font-variation-settings: "wght" 410;
}

.card_buttons_container {
  display: flex;
  justify-content: end;
  gap: 7px;
  margin: 25px 25px 25px auto;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  background-color: initial;
  transition: border 0.3s ease;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card__like-button {
  width: 130px;
  height: 38px;
  padding: 0;
}

.button__text {
  position: relative;
  z-index: 2;
  display: inline-block;
  color: var(--button__text_color);
  font-family: var(--accent_font);
  line-height: 0.9;
  letter-spacing: 0;
  font-variation-settings: "wght" 400;
  mix-blend-mode: difference;
}

/*SAVE_BLOCK*/

.save_block {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  border: none;
  background-color: inherit;
}

.save_button {
  flex-direction: var(--save_button_content_direction);
  gap: 8px;
  margin-top: 50px;
  padding: 17px 20px;
}

.save_block .floppy {
  position: relative;
  z-index: 2;
  color: #fff;
  fill: currentColor;
  inline-size: var(--floppy_size);
  block-size: var(--floppy_size);
  mix-blend-mode: difference;
}

/*DIALOG*/

.save_dialog {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-height: 191px;
  padding: var(--dialog_padding);
  inline-size: var(--dialog_inline_size);
}

.save_dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.save_dialog .floppy {
  width: 39px;
  height: 39px;
}

.dialog_content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog_button {
  text-transform: uppercase;
  block-size: 38px;
}

.dialog_text {
  width: 80%;
  font-family: var(--accent_font);
  line-height: 1.5;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

/*FILTERS*/

.filter-blur {
  filter: blur(2px);
}

.filter-brightness {
  filter: brightness(0.8);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-invert {
  filter: invert(30%);
}

.filter-sepia {
  filter: sepia(50%);
}

.filter-quality {
  filter: contrast(1.1) brightness(1.05) saturate(1.2) blur(0.3px);
}

/*EFFECTS BUTTONS*/

.button:focus {
  border-radius: 0;
  box-shadow: 2px 2px 0 0 var(--accent_color);
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: #000;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
  border-radius: 0;
  outline: none;
}

/*HEART*/
.like-icon {
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

/*HOVER*/

.like-icon:hover .core {
  fill: var(--accent_color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent_color);
  transition: fill 0.3s 0.05s linear;
}

/*ACTIVE*/

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

/*IS-LIKED*/

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: increase 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: filling 0.3s 0.3s ease-in;
}
