/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main_font: "Inter-Variable", sans-serif;
  --accent_font: "PressStart2P-Regular", sans-serif;
  --title_font_weight: 715;
  --text_font_weight: 410;
  --background_gradient_to_right: repeating-linear-gradient(
    to right,
    #d3d3d3 2px,
    transparent 2px
  );
  --background_gradient_to_bottom: repeating-linear-gradient(
    to bottom,
    #d3d3d3 2px,
    transparent 2px
  );
  --background_gradient_to_bottom_main: repeating-linear-gradient(
    to bottom,
    #e7e7e7,
    #1a1a1a
  );
  --label_text_stroke_color: #fff;
  --save_button_content_direction: column;
  --floppy_size: 28px;
  --footer_margin_bottom: 100px;
  --dialog_padding: 30px 40px;
  --dialog_inline_size: 341px;
  --accent_color: #000;
  --button__text_color: #fff;
  --contour_color: #000;
  --animation-fill-color: red;
  --image_height: 371px;
}

@media (width >= 1440px) {
  :root {
    --save_button_content_direction: row;
    --floppy_size: 21px;
    --footer_margin_bottom: 0;
    --dialog_padding: 30px;
    --dialog_inline_size: 353px;
    --image_height: 696px;
  }
}
